<!DOCTYPE html>
<html lang="en">

  <head> <%- include('./base.ejs') %> <title>HOME</title>
  </head>

  <body>
    <h1>Welcome to website</h1>
    <a href="<%- env.baseURL%>/login">Go to login page</a>
    <!-- <form action="submit">
      <input type="text" name="name" placeholder="name">
      <input type="text" name="email" placeholder="email">
      <input type="submit" value="submit">
    </form> -->
  </body>

</html>
