<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
  </head>

  <body>
    <button click="login"> Click to login </button>
  </body>
  <script>
    console.log('login sript loaded');

    function login() {
      console.log('redirecting to discord oauth')
      window.href = env.apiURL;
      // console.log('login clicked');
      // // const form = document.getElementById('')
      // // const fd = new FormData(form);
      // fetch(API_URI + `/auth/login`, {
      //   method: 'POST',
      //   // headers: {
      //   //   'Content-Type': 'multipart/form-data'
      //   // },
      //   // body: fd
      // }).then(res => res.json()).then(data => {
      //   console.log(data);
      //   if (data.success) {
      //     alert(data.message);
      //   }
      //   if (data.redirect) {
      //     window.location.href = data.redirect;
      //   }
      // }).catch(err => console.log(err));
    }

  </script>

</html>
